<div class="col-container">
    <div class="col">
      <div class="title-field-box">
        <h3>Recent Ads</h3>
      </div>
      <div class="history">
        <div class="footer-item-card">
          <div class="footer-item-image">
            <img src="https://picsum.photos/50" alt="Random Img" />
          </div>
          <div class="item-details">
            <h5>Lorem Ipsum text</h5>
            <h6>2019-07-05</h6>
          </div>
        </div>
        <div class="footer-item-card">
          <div class="image">
            <img src="https://picsum.photos/50" alt="Random Img" />
          </div>
          <div class="item-details">
            <h5>The industry's standard dummy</h5>
            <h6>2019-07-03</h6>
          </div>
        </div>
        <div class="footer-item-card">
          <div class="image">
            <img src="https://picsum.photos/50" alt="Random Img" />
          </div>
          <div class="item-details">
            <h5>Electronic typesetting</h5>
            <h6>2019-03-03</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="title-field-box">
        <h3>About</h3>
      </div>
      <div class="about">
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make a type specimen book. It has survived not only five centuries,
          but also the leap into electronic typesetting, remaining essentially
          unchanged. When an unknown printer took a galley of type and scrambled
          it to make a type specimen book.
        </p>
      </div>
    </div>

    <div class="col">
      <div class="title-field-box">
        <h3>Connect With Us</h3>
      </div>
      <div class="connect">
        <a href="#"><span class="fab fa-twitter-square fa-3x"></span></a>
        <a href="#"><span class="fab fa-facebook-square fa-3x"></span></a>
        <a href="#"><span class="fab fa-linkedin fa-3x"></span></a>
        <a href="#"><span class="fab fa-github-square fa-3x"></span></a>
      </div>
    </div>
  </div>
