$bc_body: #e9e9e9;
$bc_items: #f1f1f1;
$bc_titles: #696969;
$bc_btn: #ff4e4e;

.col-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col {
  flex: 1;
  padding: 16px;
  text-align: center;
  background-color: $bc_body;
  clear: both;
  position: relative;
}
.history {
  .footer-item-card {
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: $bc_items;
    .item-details {
      padding: 8px;
    }
    * {
      margin: auto 0;
    }
    .footer-item-image {
      width: 50px;
      height: 50px;
    }
  }
}
.about {
  p {
    text-align: justify;
    font-size: 12px;
    color: $bc_titles;
  }
}
.connect {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  a {
    color: $bc_titles;
  }
  .fa {
    &:hover {
      color: $bc_btn;
    }
  }
  .fab {
    &:hover {
      color: $bc_btn;
    }
  }
}
.create-ad-container {
  display: flex;
  clear: both;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
form {
  div {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.full-field-width {
  width: 100%;
  clear: both;
  background-color: $bc_body;
  color: $bc_titles;
  border-radius: 2px;
  padding: 5px;
}
