<div class="create-ad-container">
  <div class="title-field-box">
    <h2>AD DETAILS</h2>
  </div>
  <form (submit)="saveAd(adForm)" #adForm="ngForm">
    <div class="form-group">
      <label for="type">Type</label>
      <select
        name="type"
        [ngModel]="ad?.type"
        class="form-control"
        #type="ngModel"
        required
      >
        <option value="women">Women</option>
        <option value="men">Men</option>
      </select>
      <span class="err-message" *ngIf="type.invalid && type.touched"
        >Field is required</span
      >
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        name="title"
        [ngModel]="ad?.title"
        type="text"
        class="form-control"
        #title="ngModel"
        required
      />
      <span class="err-message" *ngIf="title.invalid && title.touched"
        >Field is required</span
      >
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        name="price"
        [ngModel]="ad?.price"
        type="text"
        class="form-control"
        #price="ngModel"
        required
      />
      <span class="err-message" *ngIf="price.invalid && price.touched"
        >Field is required</span
      >
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        name="description"
        [ngModel]="ad?.description"
        rows="5"
        cols="20"
        class="form-control"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <select
        name="image"
        [ngModel]="ad?.image"
        class="form-control"
        #image="ngModel"
        required
      >
        <option value="https://picsum.photos/150">Dark shirt</option>
        <option value="https://picsum.photos/150">Grey sweater</option>
        <option value="https://picsum.photos/150">Blue Jeans</option>
      </select>
      <span class="err-message" *ngIf="image.invalid && image.touched"
        >Field is required</span
      >
    </div>
    <div class="form-action-btns">
      <button class="button" type="submit">Save</button>
      <button
        *ngIf="!this.createMode"
        (click)="onDeleteAd(ad.id)"
        class="button"
        type="button"
      >
        Delete
      </button>
    </div>
  </form>
</div>
