<div class="create-ad-container">
  <div class="title-field-box">
    <h2>AD DETAILS</h2>
  </div>
  <form (ngSubmit)="saveAd(adForm)" #adForm="ngForm">
    <div>
      <label for="type">Type</label>
      <select name="type" [ngModel]="ad.type" class="full-field-width" required>
        <option value="women">Women</option>
        <option value="men">Men</option>
      </select>
    </div>
    <div>
      <label for="title">Title</label>
      <input
        name="title"
        [ngModel]="ad.title"
        type="text"
        class="full-field-width"
        required
      />
    </div>
    <div>
      <label for="price">Price</label>
      <input
        name="price"
        [ngModel]="ad.price"
        type="text"
        class="full-field-width"
        required
      />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        name="description"
        [ngModel]="ad.description"
        rows="5"
        cols="20"
        class="full-field-width"
        required
      ></textarea>
    </div>
    <div>
      <label for="image">Image</label>
      <select
        class="full-field-width"
        name="image"
        [ngModel]="ad.image"
        required
      >
        <option value="https://picsum.photos/150">Dark shirt</option>
        <option value="https://picsum.photos/150">Grey sweater</option>
        <option value="https://picsum.photos/150">Blue Jeans</option>
      </select>
    </div>
    <div class="ad-details-form-action-btns">
      <button class="button" type="submit">Save</button>
      <button
        *ngIf="this.mode === 'edit'"
        (click)="onDeleteAd(ad.id)"
        class="button"
        type="clear"
      >
        Delete
      </button>
    </div>
  </form>
</div>
