header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  padding: 0 8px;
  .topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li {
      font-weight: 500;
      font-size: 16px;
      color: #696969;
      text-transform: uppercase;
      text-decoration: none;
    }
    a {
      font-weight: 500;
      font-size: 16px;
      color: #696969;
      text-transform: uppercase;
      text-decoration: none;
    }
    .nav-links {
      li {
        display: inline-block;
        padding: 0 20px;
        a {
          transition: all 0.3s ease 0s;
          &:hover {
            color: #ff4e4e;
          }
        }
      }
    }
  }
  .logo {
    cursor: pointer;
    width: 200px;
  }
}
