<header class="header">
  <nav class="topnav">
    <img
      [routerLink]="['/items', 'men']"
      class="logo"
      src="./assets/images/visma.jpg"
      alt="logo"
    />
    <ul class="nav-links">
      <li>
        <a [routerLink]="['/items', 'men']" routerLinkActive="active-link"
          >For men</a
        >
      </li>
      <li>
        <a [routerLink]="['/items', 'women']" routerLinkActive="active-link"
          >For women</a
        >
      </li>
      <li>
        <a href="#">For children</a>
      </li>
    </ul>
  </nav>
  <a [routerLink]="['/add']" class="button" type="submit">Add New</a>
</header>
