$bc_components: #fff;
$bc_spinner: #ff4e4e;

:host {
  flex: 80%;
  padding: 1rem;
}

.quote-container {
  font-weight: 500;
  font-size: 16px;
  color: #696969;
  padding: 0 8px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid #696969;
  border-radius: 3px;
}

.spinner-container {
  display: contents;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $bc_spinner;

  .loading {
    margin: 30% auto;
    width: 64px;
    height: 64px;
    background: linear-gradient(to left top, $bc_spinner 0%, $bc_components 100%);
    display: block;
    border-radius: 50%;
    animation: rotating 2s linear infinite;

    &:before {
      content: '';
      width: 48px;
      height: 48px;
      background-color: $bc_components;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
