<div class="sidebar-search-input-field">
    <input type="text" placeholder="Search.." />
    <span class="fa fa-search"></span>
  </div>
  <div class="sidebar-types-field">
    <ul>
      <li><a href="#">T-Shirt (4)</a></li>
      <li><a href="#">Hoodies (2)</a></li>
      <li><a href="#">Sweaters (5)</a></li>
      <li><a href="#">Shirts (8)</a></li>
    </ul>
  </div>
  <div class="sidebar-brands-field">
    <strong>Brands</strong>
    <form class="flex-column">
      <label for="brand-nike">
        <input id="brand-nike" type="checkbox" />Nike (9)</label
      >
      <label for="brand-adidas">
        <input id="brand-nike" type="checkbox" />Adidas (11)</label
      >
      <label for="brand-vans">
        <input id="brand-vans" type="checkbox" />Vans (3)</label
      >
      <label for="brand-puma">
        <input id="brand-puma" type="checkbox" />Puma (2)</label
      >
    </form>
  </div>
  <div class="sidebar-sizes-field flex-column">
    <strong>Sizes</strong>
    <form class="flex-column">
      <label for="size-s"> <input id="size-s" type="checkbox" />S (0)</label>
      <label for="size-m"> <input id="size-m" type="checkbox" />M (2)</label>
      <label for="size-l"> <input id="size-l" type="checkbox" />L (6)</label>
      <label for="size-xl"> <input id="size-xl" type="checkbox" />XL (2)</label>
    </form>
  </div>
  <div class="sidebar-prices-field">
    <strong>Price:</strong>
    <form>
      <input type="text" placeholder="From" name="price" />
      <input type="text" placeholder="To" name="price" />
      <span class="fas fa-angle-right"></span>
    </form>
  </div>
